<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-SHORTEN - Dashboard</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <a href="/" class="btn">Volver al Inicio</a>
    <h1><%= token %></h1>
    <% if(error) { %>
      <h1><%= error %></h1>
    <% } else { %>
      <% for(let user of users) { %>
        <p><%= user.username %></p>
        <p><%= user.password %></p>
      <% } %>
    <% } %>
  </body>
</html>
