<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-SHORTEN</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <h1>¡Ups! Sentimos la molestia</h1>
    <p><%= error %></p>

    <hr class="solid" />
    <p>Para seguir navegando, puede elegir una de las opciones</p>
    <a href="/login" class="btn">Iniciar Sesión</a>
    <a href="/" class="btn">Volver al Inicio</a>
  </body>
</html>
