<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-SHORTEN - Inicio</title>
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/index-style.css" />
  </head>
  <body>
    <div class="container">
      <h1>BIENVENIDO A URL-SHORTEN</h1>
      <h3>Acorta tus urls de manera simple y sencilla</h3>
      <section class="btn-list">
        <div>
          <p>¿Eres nuevo?</p>
          <a class="btn" href="/register">Regístrate</a>
        </div>
        <div>
          <p>¿Ya tienes una cuenta?</p>
          <a class="btn" href="/login">Inicia Sesión</a>
        </div>
      </section>
      <p class="info">
        Podrás generar hasta 5 acortadores privados y 10 acortadores
        públicos
      </p>
    </div>
  </body>
</html>
