<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-SHORTEN - Not Found</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <h1>Error 404</h1>
    <p>No hemos encontrado la página que estás buscando</p>
    <hr class="solid" />
    <a href="/" class="btn">Volver al inicio</a>
  </body>
</html>
