body {
  justify-content: flex-start;
}

em {
  color: #007bff;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(180, 233, 215);
  width: 95%;
  border-radius: 20px;
  margin-bottom: 20px;
}

h3 {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

label {
  padding-bottom: 2px;
}

.error-msg {
  color: red;
  font-size: 10px;
  height: 10px;
  width: 175px;
  text-align: center;
}

.btn-create {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #24b416;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-create:disabled {
  background-color: #a0f598;
  cursor: default;
}

.btn-create:disabled:hover {
  background-color: #a0f598;
  cursor: default;
}

.btn-create:hover {
  background-color: #27991d;
}

table {
  border-collapse: separate;
  width: 95%;
  margin: 20px auto;
}

th {
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
  border: 1px solid black;
  padding: 8px;
}

td {
  background-color: #fcfcfc;
  border: 1px solid black;
  padding: 8px;
}

.del-container {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  align-items: center;
}

.del-btn {
  background-color: #ff6666;
  border-radius: 5px;
  cursor: pointer;
}

.del-btn:hover {
  transform: scale(1.2);
  background-color: #f87d7d;
}

.info {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid green;
  border-radius: 5px;
  color: green;
  cursor: default;
}

.error {
  color: red;
  border: 1px solid red;
}

.loading {
  font-size: 15px;
  color: green;
  padding: 10px 20px;
}
