.error-validation {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  cursor: default;
}

label {
  padding-bottom: 2px;
}

.error-msg {
  color: red;
  font-size: 10px;
  height: 10px;
}

.loading {
  font-size: 15px;
  color: green;
  margin: 10px;
  padding: 10px 20px;
}

.btn-login {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #24b416;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login:disabled {
  background-color: #a0f598;
  cursor: default;
}

.btn-login:disabled:hover {
  background-color: #a0f598;
  cursor: default;
}

.btn-login:hover {
  background-color: #27991d;
}
